<nav class="navbar navbar-expand-md navbar-light">

  <div class="col-sm-8 logo">
    <a class="navbar-brand" routerLink=""><img src=".././assets/img/logo.png">NordStrom</a>
  </div>

  <div class="col-sm-4">
    <ul class="nav">
      <li                   
      (mouseenter)="searchIsCollapsed = !searchIsCollapsed"
      (mouseleave)="searchIsCollapsed = !searchIsCollapsed"
      [attr.aria-expanded]="!searchIsCollapsed"
      aria-controls="collapseSearch">
        <img class="search-button" src=".././assets/img/search.png">            
        <span class="main-nav">
          <a href="#">Search</a>
        </span>
        <div class="my-dropdown" id="collapseSearch" [ngbCollapse]="!searchIsCollapsed">
          <!-- <div class="card">
            <div class="card-body"> -->
                <form class="form-inline searchForm">
                  <input class="form-control" type="text" placeholder="What can we help you to find?">
                  <input class="form-control" type="text" placeholder="What can we help you to find?">
                  <input class="form-control" type="text" placeholder="What can we help you to find?">
                  <input class="form-control" type="text" placeholder="What can we help you to find?">
                </form>
            <!-- </div>
          </div> -->
        </div>
      </li>
      <li class="nav-item">
        <span class="main-nav">Hi, Connor</span>
        <span><a class="nav-link" routerLink="/login">Sign In</a></span>
      </li>
      <li class="nav-item">
        <span class="main-nav"><a routerLink="/admin"
            class="nav-link">Admin</a></span>
      </li>
      <li class="nav-item">
        <span class="main-nav">
          <a class="nav-link" href="https://secure.nordstrom.com/ShoppingBag.aspx">Cart</a></span>
      </li>
    </ul>
  </div>

</nav>